@page
@model IndexModel
@{
    ViewData["Title"] = "Skapa kalenderfil";
}

<div class="row">
    <form method="post">
        <div class="form-group">
            <label asp-for="Schedule.Title" class="col-sm-2 control-label">Titel</label>
            <div class="col-sm-10">
                <input type="text" asp-for="Schedule.Title" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="Schedule.StartDate" class="col-sm-2 control-label">Startdatum</label>
            <div class="col-sm-10">
                <input type="date" asp-for="Schedule.StartDate" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Schedule.EndDate" class="col-sm-2 control-label">Slutdatum</label>
            <div class="col-sm-10">
                <input type="date" asp-for="Schedule.EndDate" />
            </div>
        </div>

        <table class="table">
            <tr>
                <th>V.</th>
                <th>mån</th>
                <th>tis</th>
                <th>ons</th>
                <th>tor</th>
                <th>fre</th>
                <th>lör</th>
                <th>sön</th>
            </tr>
            @{
                var weekIndex = 0;
            }
            @foreach (var week in Model.Schedule.Weeks)
            {
                var dayIndex = 0;

                <tr>
                    <td>
                        @(weekIndex + 1)
                    </td>
                    @foreach (var day in week.Days)
                    {
                        <td>
                            <div class="form-group form-group-sm">
                                <input type="time" asp-for="Schedule.Weeks[weekIndex].Days[dayIndex].From" class="input-time" />
                                <input type="time" asp-for="Schedule.Weeks[weekIndex].Days[dayIndex].Until" class="input-time" />
                            </div>
                        </td>

                        dayIndex++;
                    }
                </tr>

                weekIndex++;
            }
        </table>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button asp-page-handler="AddWeek" class="btn btn-link">Lägg till vecka</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button asp-page-handler="CreateFile" class="btn btn-default">Generera kalenderfil</button>
            </div>
        </div>
    </form>
</div>
