@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <form method="post">
        <div class="form-group">
            <label asp-for="Schedule.StartDate" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input type="date" asp-for="Schedule.StartDate" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Schedule.EndDate" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input type="date" asp-for="Schedule.EndDate" />
            </div>
        </div>

        <table class="table">
            @{
                var weekIndex = 0;
                var dayIndex = 0;
            }
            @foreach (var week in Model.Schedule.Weeks)
            {
                <tr>
                    <td>
                        <input type="hidden" name="Schedule.Weeks[@weekIndex].Index" value="@weekIndex" />
                        @weekIndex
                    </td>
                    @foreach (var day in week.Days)
                    {
                        <td><input name="Schedule.Weeks[@weekIndex].Days[@dayIndex].Start" value="@day.From" /></td>
                        <td><input name="Schedule.Weeks[@weekIndex].Days[@dayIndex].Until" value="@day.Until" /></td>

                        dayIndex++;
                    }
                </tr>

                weekIndex++;
            }
        </table>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Generera kalenderfil</button>
            </div>
        </div>
    </form>
</div>
